<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards based custom ruleset for your plugin">
	<!-- What to scan -->

	<file>./wp-content/mu-plugins</file>
	<file>./wp-content/themes/</file>
	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>/mu-plugins/debug.php</exclude-pattern>
	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>*.js</exclude-pattern>
	<exclude-pattern>*.ts</exclude-pattern>
	<exclude-pattern>*.tsx</exclude-pattern>

	<arg value="ps"/>
	<arg name="extensions" value="php"/>

	<config name="minimum_supported_wp_version" value="5.3"/>

	<rule ref="WordPress">
		<exclude name="Generic.Commenting.DocComment.MissingShort" />
		<exclude name="Squiz.Commenting.FunctionComment" />
		<exclude name="WordPress.WP.I18n"/>
		<exclude name="Squiz.Commenting.FileComment"/>
		<exclude name="WordPress.Files.FileName" />
		<exclude name="WordPress.WP.GlobalVariablesOverride.OverrideProhibited" />
	</rule>

	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>
</ruleset>
