/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: var(--color-white);
}

blockquote {
	padding: 0 20px;
	margin: 1em 0;
}

blockquote > cite {
	margin: 1em 0;
	display: block;
}


hr {
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 0;
	padding-left: 1em;
}

ol {
	padding-left: 1.5em;
}

ul {
	list-style: disc;
}

p {
	margin-top: 1em;
	margin-bottom: 1em;
}

ol {
	list-style: decimal;
}


dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
	border-collapse: collapse;
}

th,td {
	text-align: left;
	padding: 0.5em 1em;
}

th {
	font-weight: normal;
}

button,
input {
	overflow: hidden;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

a {
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}
