@custom-media --window-600-or-lower (max-width: 600px);
@custom-media --window-less-than-600 (max-width: 599px);
@custom-media --window-less-than-782 (max-width: 781px);
@custom-media --window-600-or-higher (min-width: 600px);
@custom-media --window-782-or-higher (min-width: 782px);

:root {
	--color-white: #fff;
	--color-black: #333;
	--content-width: 748px;
	--site-max-width: 1080px;
}
